* {
box-sizing: border-box;
font-family: 'Roboto', Arial, sans-serif;
}

body {
    background: #1a237e;
}

nav a {
    color: white;
}

.wallpaper {
	background-image: url(https://images.unsplash.com/photo-1517164919194-ab4eed1f05c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	overflow: hidden;
    position: absolute;
    z-index: -1;
}

.container {
	background: #ffffff;
	border-radius: 10px;
	box-shadow: 0 0 12px 0 rgba(0,0,0,0.1), 0 10px 30px 0 rgba(0,0,0,0.2);
    width: 30em;
    margin: 0 auto;
	padding: 0; 
}

.header-container {
	margin-top: 20%;
}

h1 {
    font-size: 3em;
}

.form-header {
    margin-top: 5%;
}

a {
    text-decoration: none;
}

.center-align {
    display: block;
    text-align: center;
}

.btn {
    width: 140px;
    background-color: rgb(31, 94, 196);
    color: white;
    padding: 15px 30px 15px 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 1px 0 rgba(0,0,0,0.1);
}

.forms-list-container {
    display: flex;
    justify-content: center;
    background: white;
}

.form-item {
    border: 1px solid;
    border-radius: 5px;
}

.login-form-container {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 50px;
    background: white;
    border-radius: 10px;
}

.submit-form-container {
    padding: 50px;
    background: white;
    border-radius: 10px;
}

.row {
    display: flex;
    padding: 20px 0px;
}

.row input {
    flex: 1;
}

.label-hidden {
	display: none;
}

input[type=text], input[type=email], input[type=password], textarea {
    appearance: none;
    -o-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
    -webkit-appearance: none;
    transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    outline: none;
    border: none;
    border-bottom: 1px solid lightgray; 
    font-size: 1.15em;
    padding: 6px; 
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus {
    appearance: none;
    -o-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    border-bottom: 1px solid blue;
    background: #f5f5f5;
}

input[type=submit]:focus {
    border: 0;
}

input::placeholder {
    color: grey;
}

input::placeholder:focus {
    appearance: none;
    -o-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    border-bottom: 1px solid blue;
}

input[type=submit]:hover {
    cursor: pointer;
}

p {
    font-size: 1em;
}

.form-p {
    margin-top: 5%;
}

footer {
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
}

footer p {
    font-size: 10px;
    color: white;
}

footer a {
    color: white;
}
