* {
box-sizing: border-box;
font-family: 'Roboto', Arial, sans-serif;
}

body {
    background: #1a237e;
    font-size: 1em;
}

nav a {
    color: white;
}

.wallpaper {
	background-image: url('../img/sylvie-tittel-726554-unsplash.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
	height: 100vh;
	width: 100vw;
	left: 0;
	top: 0;
	overflow: hidden;
    position: absolute;
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0;
    margin-left: 5%;
}

.header-container {
    color: darkblue;
    flex: 6;
}

.sub-header-container {
    color: darkblue;
    flex: 1;
}

h1 {
    font-size: 5em;
    margin-top: 0;
}

h2 {
    font-size: 2em;
    max-width: 400px;
    margin: 0;
}

.bigger-h2 {
    font-size: 2.5em;
    margin-top: 0;
    margin-bottom: 2%;
}

.get-started-btn {
   flex: 2;
}

.reviews {
	height: 100%;
    width: 100%;
    position: absolute;
    top: 100%;
    overflow: hidden;
}

.reviews-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5% auto 0 auto;
    padding: 10px;
}

.review {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.1), 0 10px 30px 0 rgba(0,0,0,0.2);
    padding: 30px;
    width: 25%;
}

h4 {
    font-size: 1.5em;
    font-style: italic;
    margin: 0;
    color: #000051;
}

.date {
    margin-top: 0;
    color: darkorange;
}

.reviews-header {
    margin: 10% auto 0 auto;
    text-align: center;
    font-size: 2em;
    color: white;
}

.border {
    margin: 5% auto 0 auto;
    width: 80%;
    border-bottom: 2px solid lightyellow;
}

.form-header {
    margin-top: 5%;
}

a {
    text-decoration: none;
}

.center-align {
    display: block;
    text-align: center;
}

.btn {
    width: auto;
    background-color: darkblue;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 30px 15px 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 1px 0 rgba(0,0,0,0.1);
}

.inverse {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.inverse-btn {
    background-color: white;
    color: darkblue;
    font-size: 16px;
    font-weight: bold;
    width: auto;
    padding: 15px 30px 15px 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 1px 0 rgba(0,0,0,0.1);
}

input[type=submit].inverse-btn:hover {
    background-color: lightgray;
}

.forms-list-container {
    display: flex;
    justify-content: center;
    background: white;
}

.form-item {
    border: 1px solid;
    border-radius: 5px;
}

.login-form-container {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 50px;
    background: white;
    border-radius: 10px;
}

.submit-form-container {
    padding: 50px;
    background: white;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
}

.row {
    display: flex;
    padding: 20px 0px;
}

.row input {
    flex: 1;
}

.label-hidden {
	display: none;
}

input[type=text], input[type=email], input[type=password], textarea {
    appearance: none;
    -o-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
    -webkit-appearance: none;
    transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    outline: none;
    border: none;
    border-bottom: 1px solid lightgray; 
    font-size: 1.15em;
    padding: 6px; 
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus {
    appearance: none;
    -o-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    border-bottom: 1px solid blue;
    background: #f5f5f5;
}

input[type=submit]:focus {
    border: 0; 
}

input::placeholder {
    color: grey;
}

input::placeholder:focus {
    appearance: none;
    -o-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    border-bottom: 1px solid blue;
}

input[type=submit]:hover {
    cursor: pointer;
    background-color: #1a237e;
}

p {
    font-size: 1em;
}

.form-p {
    margin-top: 5%;
}

footer {
    display: none;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
}

footer p {
    font-size: 10px;
    color: white;
}

footer a {
    color: white;
}
