<% include ../partials/header %>

<nav role="nav">
    <a href="/"><h4>MoveOut</h4></a>
</nav>

<div class="dashboard-container">
    <div class="dashboard-header-container">
        <h2>Dashboard</h2>
        <h3>You have <span class="jobs-count"></span> requests.</h3>
    </div> 

    <form action="/formsList" method="get" id="js-show-forms" class="form-input">
        <input form="js-show-forms" type="submit" class="btn" value="Show Forms">
    </form>
</div>

<div class="forms-list-container">
    <ul class="forms-list">
    <!-- FILL WITH FORM RESULTS -->
    </ul>
</div>


<% include ../partials/footer %>