<% include ../partials/header %>

    <p>Checkout all these forms</p>

    <form action="formsList">
        <input type="submit" value="Show Forms" />
    </form>

    <section>
        <div class="container">
            <ul id="results-list">
            
            </ul>
        </div>
    </section>

<% include ../partials/footer %>