<% include ../partials/header %>

<div class="wallpaper">
</div>

<div class="container">
    <div class="header-container">
        <a href="/"><h1>MoveOut</h1></a>
    </div>

    <div class="sub-header-container">
        <h2 class="big-h2">Life moves fast.</h2>
        <h2 class="bigger-h2">We'll help you move with it. </h2>
    </div>

    <div class="get-started-btn">
        <form action="/submit" method="get">
            <input type="submit" class="btn" value="GET STARTED" role="button">
        </form>
    </div>
</div>

<% include ../partials/footer %>