<% include ../partials/header %>

<div class="wallpaper">
</div>

<div class="container">
    <div class="header-container">
        <a href="/"><img src="../img/MoveOut_Logo_2Color_OptA.png"></a>
    </div>

    <div class="sub-header-container">
        <h2 class="big-h2">Life moves fast.</h2>
        <h2 class="bigger-h2">We'll help you move with it. </h2>
    </div>

    <div class="get-started-btn">
        <form action="/submit" method="get">
            <input type="submit" class="btn" value="GET STARTED" role="button">
        </form>
    </div>
</div>

<div class="reviews">
    <nav role="nav">
        <a href="/"><h4>MoveOut</h4></a>
    </nav>

    <h3 class="reviews-header">About Us</h3>

    <div class="jobs-container">
        <ol class="jobs-list">
            <li class="job"><span class="job-span right-border">Submit your info and MoveOut will reach out</span></li>
            <li class="job"><span class="job-span right-border">We'll find qualified renters to take over your lease</span></li>
            <li class="job"><span class="job-span">So you can get out and on with your life</span></li>
        </ol>
    </div>

    <div class="border"></div>

    <div class="reviews-container">
        <div class="review">
            <h4 class=>Kelsey J. says...</h4>
            <p class="date">on 03/12/19</p>
            <q class="review-text">They took care of everything, so all I had to worry about was the fact that I'm a hoarder and I have too much stuff.</q>
        </div>
        <div class="review">
            <h4 class=>Ryan D. says...</h4>
            <p class="date">on 12/02/18</p>
            <q class="review-text">Finally settled into my new place, so I wanted to take a second to thank the guys at MoveOut.</q>
        </div>
        <div class="review">
            <h4 class=>Felices S. says...</h4>
            <p class="date">on 01/05/19</p>
            <q class="review-text">Cool.</q>
        </div>
    </div>

    <div class="get-started-btn">
        <form action="/submit" method="get">
            <input type="submit" class="btn center-btn" value="GET STARTED" role="button">
        </form>
    </div>
</div>


<% include ../partials/footer %>