<% include ../partials/header %>

<div class="wallpaper">
</div>

<div class="container">
    <div class="center-align header-container">
        <h1>MoveOut</h1>
        <h2>Some details about how we're going to help you</h2>
    </div>
    <div class="center-align">
        <form action="/submit" method="get">
            <input type="submit" class="btn" value="GET STARTED" role="button">
        </form>
        <form action="/loginForm" method="get">
            <input type="submit" class="btn" value="ADMIN" role="button">
        </form>
    </div>
</div>

<% include ../partials/footer %>