<% include ../partials/header %>

<div class="wallpaper">
</div>

<div class="container">
    <div class="center-align header-container">
        <h1>MoveOut</h1>
        <h2>Some phrase about how we're going to help you</h2>
    </div>
    <div class="center-align">
        <form action="/submit" method="get">
            <input type="submit" class="btn" value="GET STARTED" role="button">
        </form>
        <form action="/loginForm" method="get">
            <input type="submit" class="btn" value="ADMIN" role="button">
        </form>
    </div>
</div>

<div class="reviews">
    <h3 class="reviews-header">Some details about the service</h3>

    <div class="border"></div>

    <div class="reviews-container">
        <div class="review">
            <h4>Kelsey J. says...</h4>
            <p class="date">on 03/12/19</p>
            <q class="review-text">They took care of everything, so all I had to worry about was the fact that I'm a hoarder and I have too much stuff.</q>
        </div>
        <div class="review">
            <h4>Ryan D. says...</h4>
            <p class="date">on 12/02/19</p>
            <q class="review-text">Finally settled into my new place, so I wanted to take a second to thank the guys at MoveOut. Hope my new roommates like the smell of stale bong water.</q>
        </div>
        <div class="review">
            <h4>Felices S. says...</h4>
            <p class="date">on 01/05/19</p>
            <q class="review-text"></q>
        </div>
    </div>

    <div class="center-align">
        <form action="/submit" method="get">
            <input type="submit" class="btn" value="GET STARTED" role="button">
        </form>
    </div>
</div>

<% include ../partials/footer %>