<% include ../partials/header %>
    <header>
        <nav>
            <a href="/submit">Get Started</a>
        </nav>
    </header>

    <p>Index file</p>

    <a href="/submit">Get Started</a>
    
    <a href="/login">Admin</a>

<% include ../partials/footer %>