<% include ../partials/header %>

    <h1>MoveOut</h1>

    <h2>Some details about how we're going to help you</h2>

    <a href="/submit">Get Started</a>

    <a href="/login">Admin</a>

<% include ../partials/footer %>