<% include ../partials/header %>

<div class="wallpaper">
</div>

<div class="container">
    <div class="header-container">
        <h1>MoveOut</h1>
    </div>

    <div class="sub-header-container">
        <h2 class="big-h2">Life moves fast.</h2>
        <h2 class="bigger-h2">We'll help you move with it. </h2>
    </div>

    <div class="get-started-btn">
        <form action="/submit" method="get">
            <input type="submit" class="btn" value="GET STARTED" role="button">
        </form>
        <!-- <form action="/loginForm" method="get">
            <input type="submit" class="btn" value="ADMIN" role="button">
        </form> -->
    </div>
</div>

<div class="reviews">
    <h3 class="reviews-header">What we do</h3>

    <div class="jobs-container">
        <ol class="jobs-list">
            <li class="job"><span class="job-span right-border">We'll get you out of your lease</span></li>
            <li class="job"><span class="job-span right-border">...into a new home, with your stuff taken care of</span></li>
            <li class="job"><span class="job-span">...so you can start living again</span></li>
        </ol>
    </div>

    <div class="border"></div>

    <div class="reviews-container">
        <div class="review">
            <h4>Kelsey J. says...</h4>
            <p class="date">on 03/12/19</p>
            <q class="review-text">They took care of everything, so all I had to worry about was the fact that I'm a hoarder and I have too much stuff.</q>
        </div>
        <div class="review">
            <h4>Ryan D. says...</h4>
            <p class="date">on 12/02/19</p>
            <q class="review-text">Finally settled into my new place, so I wanted to take a second to thank the guys at MoveOut. Hope my new roommates like the smell of stale bong water.</q>
        </div>
        <div class="review">
            <h4>Felices S. says...</h4>
            <p class="date">on 01/05/19</p>
            <q class="review-text">Cool.</q>
        </div>
    </div>

    <div class="inverse">
        <form action="/submit" method="get">
            <input type="submit" class="inverse-btn" value="GET STARTED" role="button">
        </form>
    </div>
</div>

<% include ../partials/footer %>