<% include ../partials/header %>

    <h2>Login Here</h2>

    <div class="form-login">
        <form action="post">
            <label>
                <input>
            </label>
            <label>
                <input>
            </label>
        </form>
    </div>
    <a href="/dashboard">Login</a>

<% include ../partials/footer %>
