<% include ../partials/header %>

    <h2>Login Here</h2>

    <div class="login-form-container">
        <form action="/login" method="post" id="js-login-form">
            <div class="row">
                <label for="username"></label>
                <input>
            </div>
            <div class="row">
                <label for="password"></label>
                <input>
                
            </div>
        </form>
        
        <p id="js-error-message" class="error-message"></p>
    </div>
    <a href="/dashboard">Login</a>

<% include ../partials/footer %>
