<% include ../partials/header %>

    <h2>Login Here</h2>

    <div class=container>
        <div class="login-form-container">
            <h3><span></span></h3>
            
            <form action="/login" method="post" id="js-login-form">
                <div class="row">
                    <label for="username" class="label-hidden">Username</label>
                    <input type="text" name="username" placeholder="Username">
                </div>
                <div class="row">
                    <label for="password" class="label-hidden">Password</label>
                    <input type="password" name="password" placeholder="Password">
                </div>
                <input type="submit" class="form-input btn" value="LOGIN" role="button">
            </form>
            
            <p id="js-error-message" class="error-message"></p>
        </div>
    </div>

<% include ../partials/footer %>
