<% include ../partials/header %>

<nav role="nav">
    <a href="/"><h4>MoveOut</h1></a>
</nav>

<div class="submit-form-container">
    <div class="submit-form-about">
        <h4 class="form-header">Success!</h4>
        <h5 class="form-header-small">You'll hear from us shortly.</h5>
        <h6 class="form-header-smaller">Until then, breathe easy.</h6>
        <h4 class="form-header">You're in good hands</h4>
        <p class="form-p"></p>
    </div>
</div>

<% include ../partials/footer %>